@media screen and (max-width:320px) {
    .nav-lft {
        /* gap: 0px; */
    }


    .nav-mdl {

        display: none;
    }
    .nav-rht{
        /* gap: 0px; */
    }

    .hamburger-menu {
        display: block;
    }

    .eur {
        display: none;
    }

    .container1 {
        flex-direction: column;
        width: 90%;
        white-space: nowrap;


    }

    .date {
        padding: 0 15px;
        gap: 0px;

    }

    .destinations {
        display: grid;
        grid-template-columns: auto;
        align-items: start;
        justify-content: center;
    }

    .bx {
        width: 150px;
        height: 150px;
    }

    .inspired {
        grid-template-columns: auto;
        justify-content: stretch;
    }


    .best-of-thailand {
        flex-direction: column;
        justify-content: stretch;
    }

    .rate {
        margin-top: 20px;
    }

    .best {
        text-align: center;
    }

    .s-t-g {
        flex-direction: column;
        gap: 10px;
        justify-content: stretch;

    }

    .g-t-s {
        text-align: center;
        padding: 25px 0px;
    }

    .newsletter {
        flex-direction: column;
    }

    .bx4 {
        width: 100%;
        height: 100%;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

    }

    #img4 {
        width: 100%;
        height: 100%;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

    }

    .newsletter-txt {
        width: 100%;
    }

    .searchbar {
        margin: 0px;
        /* padding: 10px 10px; */
        margin-bottom: 10px;
        margin: 0px 10px 10px 10px;
    }

    .subscribe {
        padding: 3px;
    }

    .ftr {
        flex-direction: column;
        margin-left: 15px;

    }

    .ftr-hdg {
        padding: 30px 0px;

    }

    .last-section {
        flex-direction: column;
        margin-left: 15px;
    }

    .lft-sec {
        padding: 30px 0px;
        margin: 0px;

    }

    #visa {
        margin-right: 15px;
    }
}




@media(min-width:321px) and (max-width:480px) {
    .nav-mdl {

        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .eur {
        display: none;
    }

    .container1 {
        flex-direction: column;
        width: 90%;
        white-space: nowrap;
        padding: 0;
        border-radius: 20px;


    }

    .location {
        padding: 0 10px;
    }

    .date {
        padding: 0 18px;
        gap: 40px;

    }

    .search {
        border-radius: 20px;
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        margin: 0;
    }



    .destinations {
        flex-direction: column;
        /* align-items: start; */
        justify-content: center;
    }

    .bx {
        margin: auto;
        height: 250px;
        width: 250px;
    }


    .inspired {
        grid-template-columns: auto;
        justify-content: stretch;
        gap: 10px;

    }

    .best-of-thailand {
        flex-direction: column;
        justify-content: stretch;
    }

    .best {
        text-align: center;
    }

    .s-t-g {
        flex-direction: column;
        gap: 10px;
        justify-content: stretch;

    }

    .g-t-s {
        text-align: center;
    }

    .newsletter {
        flex-direction: column;
    }

    .bx4 {
        width: 100%;
        height: 100%;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

    }

    #img4 {
        width: 100%;
        height: 100%;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

    }
    .txt-heading{
        padding-top: 10px;
    }
    .txt-para{

    }

    .newsletter-txt {
        width: 100%;
    }

    .searchbar {
        margin-bottom: 20px;
    }

    .subscribe {
        padding: 10px;
    }

    .ftr {
        flex-direction: column;
        margin-left: 50px;

    }

    .ftr-hdg {
        padding: 30px 0px;

    }

    .last-section {
        flex-direction: column;
        margin-left: 50px;
    }

    .lft-sec {
        padding: 30px 0px;
        margin: 0px;

    }

}


@media(min-width:481px) and (max-width:767px) {
    .nav-mdl {

        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    .eur {
        display: none;
    }

    .container1 {
        flex-direction: column;
        width: 90%;
        white-space: nowrap;
        padding: 0;
        border-radius: 20px;

    }

    .location {
        padding: 0 10px;
    }

    .date {
        padding: 0 18px;
        justify-content: space-between;

    }

    .search {
        border-radius: 20px;
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        margin: 0;
    }

    .destinations {
        display: grid;
        grid-template-columns: auto;
        /* align-items: start; */
        justify-content: space-around;

    }

    .inspired {
        grid-template-columns: auto;
        justify-content: stretch;
    }

    .bx {
        height: 300px;
        width: 300px;
    }

    .best-of-thailand {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
        justify-content: stretch;

    }

    .best {
        text-align: center;

    }

    .s-t-g {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        justify-content: space-between;
    }

    .g-t-s {
        text-align: center;
    }

    .newsletter {
        flex-direction: column;
    }

    .bx4 {
        width: 100%;
        height: 100%;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

    }

    #img4 {
        width: 100%;
        height: 100%;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;

    }

    .newsletter-txt {
        width: 100%;
    }

    .searchbar {
        margin-bottom: 20px;
    }

    .ftr {
        flex-direction: column;
        margin-left: 50px;
    }

    .ftr-hdg {
        padding: 30px 0px;
    }

    .last-section {
        flex-direction: column;
        margin-left: 50px;
    }

    .lft-sec {
        padding: 30px 0px;
        margin: 0px;
    }
}

@media(min-width:768px) and (max-width:1024px) {
    .container1 {
        flex-direction: column;
        width: 90%;
        padding: 0px;
        border-radius: 20px;
        white-space: nowrap;

    }

    .date {
        justify-content: space-between;
        margin: 0px 20px;
    }

    .search {
        border-radius: 20px;
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        margin: 0px;
    }

    .destinations {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: start;
        justify-content: space-around;
    }

    .nav-list-items {
        gap: 0px;
    }

    .inspired {
        grid-template-columns: auto auto;
        justify-content: stretch;
    }

    .best-of-thailand {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        justify-content: stretch;

    }

    .s-t-g {
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        justify-content: space-between;
    }

    .searchbar {
        margin-bottom: 10px;
    }
}