*{
    margin: 20px;
}

.contenor{
    border: 1px solid hsl(0, 1%, 38%);
    background-color: gray;
    display: flex; 
    max-width: 100%;
    max-height: 100%;
    padding: 30px;

}
img{
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(202, 198, 198);
}
.contenor1{
    border: 1px solid rgb(146, 145, 145);
    border-radius: 10%;
    background-color: gray;
    color: white;
    margin: 20px;
    padding: 40px;
}
.contenor2{
    border: 1px solid  rgb(146, 145, 145) ;
    border-radius: 10%;
    background-color: gray;
    color: white;
    margin: 20px;
    padding: 40px;
}
.contenor3{
    border: 1px solid  rgb(146, 145, 145);
    border-radius: 10%;
    background-color: gray;
    color: white;
    margin: 20px;
    padding: 40px;
}
.contenor4{
    border: 1px solid  rgb(146, 145, 145);
    border-radius: 10%;
    background-color: gray;
    color: white;
    margin: 20px;
    padding: 40px;
}
