/* *{ */
    /* margin: 0px; */
    /* padding: 0px; */
/* } */

.span1{
    border: 1px solid black;
}
.span2{
    background-color: red;
}
.heading2{
    background-color: yellow;
}
.span3{
    background-color: green;
}
